fastapi==0.119.0
uvicorn==0.37.0
lyricsgenius==3.3.1
spotipy==2.25.1
python-dotenv==1.1.1
nltk==3.9.2
regex==2025.9.18
requests==2.32.5
deep-translator==1.11.4
indic-transliteration==2.3.75
transformers==4.57.0
torch==2.8.0
tqdm==4.67.1
pydantic==2.12.1
pydantic_core==2.41.3
langdetect== 1.0.9