@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

@font-face {
  font-family: "AdverCase";
  src: url("./fonts/AdverCase.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
